
 <section class="title">
  <h3 class="welcome">Welcome to</h3>
  Dianas Recipe-App!
  <h5 class="hint">Logga in med ditt befintliga konto! </h5>
</section>
<form (ngSubmit)="onSubmit($event)" #loginForm ="ngForm" class="login">
<input type="email" placeholder="email" id="email" required>
<input type="password" placeholder="password" id="password">
<input type="submit" value="Submit">

<!-- <section class="title">
    <h3 class="welcome">Welcome to</h3>
    Dianas Recipe-App!
    <h5 class="hint">Logga in med ditt befintliga konto! </h5>
</section>
<div class="login-group">
    <clr-input-container>
        <input type="email" name="email" clrInput placeholder="Email" [(ngModel)]="form.email"/>
    </clr-input-container>
    <clr-password-container>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
    </clr-password-container>
    <div class="error active">
        Invalid user name or password
    </div>
    <button type="submit" class="btn btn-primary" >Login</button>    </div> -->
</form>
