<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<h2>Here are some links to help you start: </h2>
<form class="search">
  <label for="search_input">
      <input ng-model="searchText" id="search_input" type="text" placeholder="Search for recipes...">
  </label>
  <button (click)="handleRecipeClick()" class="btn btn-primary">Search</button>
</form>


<ul>
  <li *ngFor="let recipe of recipes">
    <div class="thumb">
        <h1>{{recipe.recipeName}}</h1>
      <img src="{{recipe.smallImageUrls}}">
    </div>
  <div class="ingredients">
<p>{{recipe.ingredients}} Ingredients</p>
  </div>
  <div class="course">
    <p>{{recipe.attributes.course}}</p>
  </div>
</li>
</ul>
<router-outlet></router-outlet>
