<clr-main-container>
  <clr-header>
    {{title}}
    <div class="header-nav" [clr-nav-level]="1">
      <input type="search" class="form-control" placeholder="Enter search string" #search />
      <button type="button" class="btn btn-primary" (click)="doSearch(search.value)">
        Search
      </button>
      <button type="button" class="label label-orange clickable" (click)="doSearchAppetizers(search.value)">
        Starters
      </button>
      <button type="button" class="label label-orange clickable" (click)="doSearchMainDishes(search.value)">
        Mains
      </button>
      <button type="button" class="label label-orange clickable" (click)="doSearchDesserts(search.value)">
        Desserts
      </button>
      <br />
      <br />
      <button type="button" class="label label-orange clickable" (click)="doSearchVegan(search.value)">
        Vegan
      </button>
      <button type="button" class="label label-orange clickable" (click)="doSearchVegetarian(search.value)">
        Vegetarian
      </button>
      <button type="button" class="label label-orange clickable" (click)="doSearchGluten(search.value)">
        No Gluten
      </button>

      <button type="button" class="label label-orange clickable" (click)="doSearchLactos(search.value)">
        No Milk
      </button>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
      <a routerLink="/login" routerLinkActive="active" class="nav-link active">
        Login
      </a>
      <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
      <a routerLink="/login">Logout</a>
      <a routerLink="/create-list" routerLinkActive="active" class="nav-link">Skapa ny lista</a>
      <a routerLink="/saved" routerLinkActive="active" class="nav-link">Mina listor</a>

    </nav>
  </div>
</clr-main-container>




