
  <h2>Befintliga listor med tillhörande sparade recept:</h2>
  <ul>
  <li *ngFor="let list of list">
  

       <h3>Lista: {{ list.title }} </h3> <button> <a routerLink="/create-list" routerLinkActive="active"
       >  <clr-icon shape="new" class="is-solid"></clr-icon></a
     ></button> <button> <a routerLink="/edit-list/{{list.id}}" routerLinkActive="active"
       > 
          <clr-icon shape="pencil" class="is-solid"></clr-icon>
    </a> </button>
       
       <button (click)="deleteLists(list.id)" title="remove">
            <clr-icon shape="trash" class="is-solid"></clr-icon>
          </button> <br />
          <div *ngIf="list.recipe[0]"> 
<a href="recipe/{{ list.recipe[0] }}"> {{ list.recipe[0] }}    </a>   <button (click)="deleteRecipe(list.id, list.recipe[0])" title="remove">
    <clr-icon shape="trash" class="is-solid"></clr-icon>
  </button></div>
<br />
<div *ngIf="list.recipe[1]"> 
  <a href="recipe/{{ list.recipe[1] }}"> {{ list.recipe[1] }}    </a>   <button (click)="deleteRecipe(list.id, list.recipe[1])" title="remove">
      <clr-icon shape="trash" class="is-solid"></clr-icon>
    </button></div>
    <br /> <div *ngIf="list.recipe[2]"> 
    <a href="recipe/{{ list.recipe[2] }}"> {{ list.recipe[2] }}    </a>   <button (click)="deleteRecipe(list.id, list.recipe[2])" title="remove">
      <clr-icon shape="trash" class="is-solid"></clr-icon>
    </button></div>
  <br /><div *ngIf="list.recipe[3]"> 
    <a href="recipe/{{ list.recipe[3] }}"> {{ list.recipe[3] }}    </a>   <button (click)="deleteRecipe(list.id, list.recipe[3])" title="remove">
        <clr-icon shape="trash" class="is-solid"></clr-icon>
      </button></div>
    
  </li>
</ul>

