<ul *ngIf="recipe$">
  <li>
    <img src="{{ recipe$.images[0].imageUrlsBySize['360'] }}">
    <h3>{{recipe$.name}}</h3>
    <p>{{recipe$.attributes['cuisine']}}</p>
    <p>{{recipe$.ingredientLines.join("")}}</p>
  </li>
</ul>

<clr-dropdown>
  <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
      Save
      <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
      <label class="dropdown-header">Choose list</label>



      <div class="dropdown-divider"></div>
      <clr-dropdown>

          <button (click)="saveRecipe(recipe$.id, list.id)" type="button" clrDropdownTrigger *ngFor="let list of list">{{ list.title }}</button>
         
              </clr-dropdown>
 


<button routerLink="/" class="btn btn-primary"> back</button>  
