<section class="title">
  <h3 class="welcome">Welcome to Recipay!</h3>

  <h5 class="hint">Registrera ditt nya konto här!</h5>
</section>
<form
  clrForm
  clrLayout="horizontal"
  (ngSubmit)="onSubmit()"
  #registerForm="ngForm"
  class="register"
>
  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      [(ngModel)]="form.name"
      name="name"
      required
    />
    <clr-control-error *clrIfError="'required'"
      >This field is required!</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Email</label>
    <input
      clrInput
      type="text"
      [(ngModel)]="form.email"
      name="email"
      required
    />
    <clr-control-error *clrIfError="'required'"
      >This field is required!</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Password</label>
    <input
      clrInput
      type="password"
      [(ngModel)]="form.password"
      name="password"
      required
      minlength="6"
    />
    <clr-control-error *clrIfError="'required'"
      >This field is required!</clr-control-error
    >
    <clr-control-error *clrIfError="'minlength'"
      >It must be at least 6 characters!</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Password Confirmation</label>
    <input
      clrInput
      type="password"
      [(ngModel)]="form.password_confirmation"
      name="password_confirmation"
      required
      minlength="6"
    />
    <clr-control-error *clrIfError="'required'"
      >This field is required!</clr-control-error
    >
    <clr-control-error *clrIfError="'minlength'"
      >It must be at least 6 characters!</clr-control-error
    >
  </clr-input-container>
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
